<div class="table-principal">
    <h5>Gerenciador de Turmas</h5>
    <p>Preencha os campos para inserir a turma</p>
    
    <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
    
    <div *ngIf="mensagem" class="mb-3 alert alert-primary">
    
      <strong>{{mensagem}}</strong>
    
    
    </div>
    
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="">Ano da turma</label>
                <input type="text" class="form-control" formControlName="ano">
                <div class="text-danger" *ngIf="form.ano.touched && form.ano.invalid">
                    <span *ngIf="form.ano.errors.required">
                        Digite o ano da turma
                    </span>
                </div>
            </div>
    
            <div class="col-md-3">
                <label for="">Semestre da turma</label>
                <input type="text" class="form-control" formControlName="semestre">
                <div class="text-danger" *ngIf="form.semestre.touched && form.semestre.invalid">
                    <span *ngIf="form.semestre.errors.required">
                        Digite o semestre da turma
                    </span>
                </div>
            </div>
    
           
    
     
    
        </div>
    
    
    
        <div class="row mb-3">
            <div class="col-md-12">
                <input type="submit" [disabled]="!formCadastro.valid" class="btn btn-succes bg-warning" value="Realizar o Cadastro">
            </div>
        </div>
    
    </form>
    </div>
    