<nav class="navbar navbar-expand-lg nav-barra ">
    <div class="container-fluid">
      <a class="navbar-brand text-warning alert-link"  href="#" >
        <img src="../assets/logo.png" class="logo-principal"></a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">



          <li class="nav-item dropdown item-nav">
            <a
              class="nav-link dropdown-toggle  text-danger alert-link item-nav"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"

            >
              Cadastros
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="cadastrar-alunos">Cadastrar Alunos</a> </li>
              <li><a class="dropdown-item" routerLink="cadastrar-professor">Cadastrar Professores</a> </li>
              <li><a class="dropdown-item" routerLink="cadastrar-curso">Cadastra Cursos</a></li>
              <li><a class="dropdown-item" routerLink="cadastrar-turma">Cadastra Turmas</a></li>

              

          

            
              
              
            </ul>
          </li>
          
          <li class="nav-item dropdown item-nav">
            <a
              class="nav-link dropdown-toggle  text-danger alert-link item-nav"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Consultas
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown ">
             

              <li><a class="dropdown-item" routerLink="consultar-alunos">Consultar alunos</a></li>
              <li><a class="dropdown-item" routerLink="consultar-professor">Consultar Professor</a></li>

             
              <li><a class="dropdown-item" routerLink="consultar-curso">Consultar Curso</a></li>

              <li><a class="dropdown-item" routerLink="consultar-turma">Consultar Turma</a></li>


            </ul>
          </li>


          <li class="nav-item dropdown item-nav">
            <a
              class="nav-link dropdown-toggle  text-danger alert-link item-nav"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Login de Conta
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="login">Login de Aluno</a> </li>

             

              <li><a class="dropdown-item" routerLink="login-professor">Login de professor</a> </li>
              

            </ul>
          </li>
         
          <li class="nav-item dropdown item-nav">
            <a
              class="nav-link dropdown-toggle  text-danger alert-link item-nav"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
             Criar Conta
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

              <li><a class="dropdown-item" routerLink="account">Criar conta de Alunos</a></li>

              <li><a class="dropdown-item" routerLink="account-professor">Criar conta de professores</a></li>

            </ul>
          </li>
        </ul>

        <form class="d-flex text-black" *ngIf="isAuthenticated">
          <div class="mt-1">
            Usuario:&nbsp; <strong>{{loginUsuario}}</strong>
          </div>
          <button class="btn btn-outline-light bg-danger btn-sm" (click) = "logout()">sair do sistema</button>
        




        </form>

        <form class="d-flex text-black" *ngIf="isAuthenticatedProfessor">
          <div class="mt-1">
            Usuario:&nbsp; <strong>{{loginProfessor}}</strong>
          </div>
          <button class="btn btn-outline-light bg-danger btn-sm" (click) = "logout()">sair do sistema</button>
        




        </form>
        
        
        

      </div>
    </div>
  </nav>
  <img src="https://img.wallpapersafari.com/desktop/1024/576/56/19/D1Fw8H.png" width="100% " height="500px"   >


  <div class="container mt-3">


    <div class="">
        <div class="card-body">

            <router-outlet></router-outlet>
        </div>
    </div>








  </div>
  <hr>
